<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>Hiuvy Digital | Error con el Servidor</title>
<link rel="shortcut icon" href="/images/logo.png">
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">

<style type="text/css">
body {
	padding-top: 5%;
}

img {
	width: 75%;
}
</style>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
	<div class="container text-center">
		<div class="mx-auto col-10 card">
			<div class="card-header">
				<h4>No se encontró</h4>
			</div>
			<div class="card-body">
				<a href="/usuarios/create"><img src="static/images/error/500.png"
					th:src="@{/images/error/500.png}" /></a>
			</div>
			<div class="card-footer">
				<span th:text="${message}">Message</span><br /> <span
					th:text="${exception}">Trace </span><br />
			</div>
		</div>
	</div>
	<div th:insert="~{fragments/footer :: footer}">&copy;</div>
</body>
</html>