<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>Prueba | Hiuvy Digital</title>
<link rel="shortcut icon" href="/images/logo.png">
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>

	<div th:replace="~{fragments/header :: header}">Header</div>

	<main role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h3>Encuentra el trabajo que andas buscando.</h3>
				Puedes buscar por descripción y categoría.
				<form class="form-inline">
					<input type="text" class="form-control mb-3"
						id="exampleFormControlInput1" placeholder="Escriba una búsqueda">&nbsp;
					<select class="custom-select custom-select mb-3">
						<option selected>Seleccione una categoría</option>
						<option value="1">Ventas</option>
						<option value="2">Contabilidad</option>
						<option value="3">Transporte</option>
						<option value="4">Informática</option>
						<option value="5">Construcción</option>
					</select>&nbsp;
					<button type="submit" class="btn btn-primary mb-3">Buscar</button>
				</form>
			</div>
		</div>
		<hr>

		<div class="container">
			<h2 class="font-weight-bold text-center text-capitalize">DESTACADOS</h2>
			<hr>
			<div class="row" th:each="vacante : ${vacantes}">
				<div class="col-md-3">
					<img class="rounded mx-auto d-block"
						th:src="${'/images/' + vacante.imagen}"
						alt="Generic placeholder image" width="220" height="220">
				</div>
				<div class="col-md-9">
					<h2>[[${vacante.nombre}]]</h2>
					<h6 class="card-title">
						<strong>Categoría: </strong> <span>[[${vacante.destacado}]]</span>
					</h6>
					<h6 class="card-title">
						<strong>Publicado: </strong> <span> [[${vacante.fecha}]]</span>
					</h6>
					<p>[[${vacante.descripcion}]]</p>
					<p>
						<a class="btn btn-secondary"
							th:href="@{/vacantes/view/{id} (id=${vacante.id})}" role="button">Detalles
							&raquo;</a>
					</p>
				</div>
			</div>
			<hr>
		</div>
		<!-- /container -->

	</main>

	<div th:insert="~{fragments/footer :: footer}">&copy;</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
