<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<body>
	<!--/*  Multiple fragments may be defined in one file */-->
	<div th:fragment="footer" th:align="center">
		<footer class="footer">
      <div class="container">
        <p>
          &copy; 2021 Prueba, Hiuvy Digital. | WebApp Desarrollada con Spring Boot | Autor: Wilmar Pe&ntilde;a Rudas | &middot; <a href="https://github.com/wpenarudas25">Github</a>
          &middot;
        </p>
      </div>
    </footer>
	</div>
</body>
</html>