<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="shortcut icon" href="/images/logo.png">
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	rel="stylesheet">

</head>
<body>
	<div th:with="disableFields= if${nombre_usuario}">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
			th:fragment="headerIn">
			<a href="/vacantes/index"> <img class="media-object" src="/images/logoH.png"
				alt="...">
			</a> <a  class="navbar-brand" style="font-size: 34px; font-family:sans-serif;" href="/vacantes/index"><strong>EmpleosApp</strong> </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">

					<li><a class="btn " th:href="@{/vacantes/index}"
						style="color: white;" role="button">Vacantes</a></li>

					<li><a class="btn " th:href="@{/categorias/index}"
						style="color: white;" role="button">Categorías</a></li>

					<li><a class="btn " th:href="@{/usuarios/index}"
						style="color: white;" role="button">Usuarios</a></li>

					<li class="nav-item"><a class="nav-link" href="#"></a></li>
				</ul>

				<a  style="color: white;" ><span>| Bienvenido, [[${nombre_usuario}]] |</span></a>
					<a class="nav-link" href="#" th:href="@{/logout}" > <span>Salir</span><span class="float-right"><i
						class="fas fa-sign-out-alt"></i></span></a>
			</div>
		</nav>
	</div>
</body>
</html>