<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>Hiuvy Digital | Editar Contraseña</title>
<link rel="shortcut icon" href="/images/logo.png">
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	rel="stylesheet">
</head>
</head>

<body>

	<div th:replace="~{fragments/header :: header}">Header</div>

	<main role="main">
		<hr>
		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Edición de contraseña</strong>
				</h4>
				<div class="card-body">
					<form class="form" th:action="@{/editUserPassword}" role="form"
						autocomplete="on" th:object="${userForm}" method="post">
						<div class="row">
							<input class="form-control" type="hidden"
								th:field="${userForm.id}"> <input class="form-control"
								type="hidden" th:field="${userForm.username}">
							<div class="col-md-4">
								<div class="form-group">
									<label for="firstName"> Nombre</label> <input type="text"
										class="form-control" id="firstName" name="firstName"
										readonly="readonly" th:field="${userForm.firstName}"
										required="required">
									<div class="alert-danger"
										th:if="${#fields.hasErrors('firstName')}"
										th:errors="*{firstName}">nombre Error</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label for="lastName"> Apellido</label> <input type="text"
										class="form-control" id="lastName" name="lastName"
										readonly="readonly" th:field="${userForm.lastName}"
										required="required">
									<div class="alert-danger"
										th:if="${#fields.hasErrors('lastName')}"
										th:errors="*{lastName}">nombre Error</div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<label for="correo">Correo electrónico</label> <input
										type="email" class="form-control" id="email" name="email"
										th:field="${userForm.email}" readonly="readonly"
										required="required">
									<div class="alert-danger" th:if="${#fields.hasErrors('email')}"
										th:errors="*{email}">Correo Error</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="password">Nueva Contraseña: </label> <input
										th:field="${userForm.password}" type="password"
										placeholder="Escriba la nueva contraseña" class="form-control"
										id="password" name="password" required="required">
									<div class="alert-danger"
										th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}">Password Error</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<!-- <label for="confirmPassword">Confirmar Contraseña: </label>-->
									<input type="hidden" class="form-control" id="confirmPassword"
										name="confirmPassword" th:field="${userForm.confirmPassword}"
										placeholder="Escriba nuevamente la contraseña"
										required="required">
									<div class="alert-danger"
										th:if="${#fields.hasErrors('confirmPassword')}"
										th:errors="*{confimPassword}">Name Error</div>
								</div>
							</div>
						</div>
						<hr>
						<div>
							<a type="reset" class="btn btn-danger" title="Ir al login"
								th:href="@{/list}">Cancelar</a>

							<button type="submit" title="Actualizar contraseña."
								class="btn btn-primary">Guardar</button>

						</div>

						<div class="alert alert-danger" th:if="${formErrorMessage}"
							th:text="${formErrorMessage}">Error Message</div>
					</form>
				</div>
			</div>

		</div>
		<!-- /container -->

	</main>

	<div th:insert="~{fragments/footer :: footer}"></div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>