<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>Hiuvy Digital | Agregar usuarios</title>
<link rel="shortcut icon" href="/images/logo.png">
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	rel="stylesheet">
</head>
</head>

<body>

	<div th:replace="~{fragments/header :: header}">Header</div>

	<main role="main">
		<hr>
		<div class="container">

			<br>
			<div class="card">
				<h4 class="card-header">
					<strong>Crear nuevo usuario</strong>
				</h4>
				<div class="card-body">
					<div>
						<form class="form" th:action="@{/userForm}" role="form"
							autocomplete="on" th:object="${userForm}" method="post">
							<div class="row">
								<input class="form-control" type="hidden">
								<div class="col-md-3">
									<div class="form-group">
										<label for="nombre">Nombre:</label> <input type="text"
											th:field="${userForm.firstName}" class="form-control"
											id="nombre" name="nombre" placeholder="Escriba su nombre"
											required="required">
										<div class="alert-danger"
											th:if="${#fields.hasErrors('firstName')}"
											th:errors="*{firstName}">Name Error</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="apellido">Apellido:</label> <input type="text"
											th:field="${userForm.lastName}" class="form-control"
											id="apellido" name="apellido"
											placeholder="Escriba su apellido" required="required">
										<div class="alert-danger"
											th:if="${#fields.hasErrors('lastName')}"
											th:errors="*{lastName}">Name Error</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="correo">Correo electrónico:</label> <input
											type="email" th:field="${userForm.email}"
											class="form-control" id="correo" name="correo"
											placeholder="Escriba el correo electrónico"
											required="required">
										<div class="alert-danger"
											th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name
											Error</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label for="username">Nombre de Usuario: </label> <input
											type="text" th:field="${userForm.username}"
											class="form-control" id="username" name="username"
											placeholder="Escriba el nombre de usuario"
											required="required">
										<div class="alert-danger"
											th:if="${#fields.hasErrors('username')}"
											th:errors="*{username}">Name Error</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label for="username">Roles: </label> <select
											class="form-control" size="1" th:field="${userForm.roles}">
											<option th:each="role :${roles}" th:value="${role.id}"
												th:text="${role.name}"></option>
										</select>
										<div class="alert-danger"
											th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Name
											Error</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="password">Contraseña: </label> <input
											type="password" class="form-control" id="password"
											th:field="${userForm.password}" name="password"
											placeholder="Escriba la clave de acceso" required="required">
										<div class="alert-danger"
											th:if="${#fields.hasErrors('password')}"
											th:errors="*{password}">Name Error</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="confirmPassword">Confirmar Contraseña: </label> <input
											type="password" class="form-control" id="confirmPassword"
											name="confirmPassword" th:field="${userForm.confirmPassword}"
											placeholder="Escriba nuevamente la contraseña"
											required="required">
										<div class="alert-danger"
											th:if="${#fields.hasErrors('confirmPassword')}"
											th:errors="*{confirmPassword}">Name Error</div>
									</div>
								</div>
							</div>
							<hr>
							<div>
								<a type="reset" class="btn btn-danger" title="Ir al login"
									th:href="@{/list}">Cancelar</a>

								<button type="submit" title="Quiero registrarme."
									class="btn btn-primary">Crear usuario</button>
							</div>

							<div class="alert alert-danger" th:if="${formError}"
								th:text="${formError}">Error Message</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<!-- /container -->

	</main>

	<div th:insert="~{fragments/footer :: footer}">&copy;</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>