<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Hiuvy Digital |Listado de Usuarios</title>
<link rel="shortcut icon" href="/images/logo.png">
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	rel="stylesheet">
</head>
<body>
	<div th:replace="~{fragments/header :: header}">Header</div>

	<main role="main">
		<hr>
		<div class="container">
			<div class="card">
				<h4 class="card-header">
					<strong>Listado de Usuarios</strong>
				</h4>
				<div class="card-body">
					<a class="btn btn-primary" th:href="@{/userForm}" role="button"><i
						class="fas fa-file" aria-hidden="true"></i> Nuevo</a>
					<hr>
					<table class="table table-responsive-md">
						<thead class="thead-light">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nombre</th>
								<th scope="col">Apellido</th>
								<th scope="col">Username</th>
								<th scope="col">Correo</th>
								<th scope="col">Operaciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="listUsuario: ${userList}">
								<td id="userIdHiddenInput" th:text="${listUsuario.id}"></td>
								<td th:text="${listUsuario.firstName}"></td>
								<td th:text="${listUsuario.lastName}"></td>
								<td th:text="${listUsuario.username}"></td>
								<td th:text="${listUsuario.email}"></td>
								<td><a th:href="@{'/editUser/{id}' (id=${listUsuario.id})}"
									class="btn btn-success btn-sm" role="button"
									title="Editar usuario."><i class="fas fa-edit"
										aria-hidden="true"></i></a> <a
									th:href="@{'/editUserPassword/{id}' (id=${listUsuario.id})}"
									class="btn btn-warning btn-sm" role="button"
									title="Cambiar contraseña."><i class="fas fa-key"
										aria-hidden="true"></i></a> <a href="#"
									th:href="@{/eliminarUsuario/}+${listUsuario.id}"
									onclick="return confirm('¿Estas seguro de eliminar este usuario?')"
									class="btn btn-danger btn-sm" role="button"
									title="Eliminar el usuario."><i class="fas fa-trash"
										aria-hidden="true"></i></a></td>
							</tr>
						</tbody>
					</table>
					<div class="alert alert-danger" th:if="${listErrorMessage}"
						th:text="${listErrorMessage}">Error Message</div>
				</div>
			</div>
		</div>
		<!-- /container -->

	</main>
	<div th:insert="~{fragments/footer :: footer}">&copy;</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		
		function deleteUser(){
			var id = $("#userIdHiddenInput").val();
		    window.location = "borrarUsuario/"+id;
		}

</script>

</body>
</html>